@font-face {
    font-family: berserk;
    src: url(font/berserker/Berserker-Regular.ttf);
}
@font-face {
    font-family: norse;
    src: url(font/norse/Norse.otf);
}
@font-face {
    font-family: norsebold;
    src: url(font/norse/Norsebold.otf);
}


html{
    scroll-behavior: smooth;
}
.body1{
    background-image: url(image/accueil.png);
    background-size: 100%;
    background-attachment: fixed;
    margin: 0;
}
.body2{
    background-image: url(image/god1.png);
    background-size: 100%;
    background-attachment: fixed;
    padding: 5% 0 0 0;
}
.body3{
    background-image: url(image/KratosW.jpg); 
    background-size: 100%;
    background-attachment: fixed;
    padding: 15% 0 0 0;
}
.body4{
    background-image: url(image/ThorW.jpg);
    background-size: 100%;
    background-attachment: fixed;
    padding: 15% 0 0 0;
}
.logo {
width: 30%;
display: block;
margin: auto;
}
.header1{
    background-color: white;
}
.nav1{
background-image: linear-gradient(white , transparent);
}
.navlink{
    padding: 1% 0 10% 0;
    display: block;
    text-align: center;
} 
.navlink a{
    margin: 0 2% 0 2%;
    padding: 5px;
    font-family: norsebold;
    color: #3475B5;
    font-size: 150%;
    text-decoration: none;
    transition: 100ms linear;
    border-radius: 10px;
    box-shadow: 0 0 0;
}
.navlink a:hover{
    color: white;
    background-color: #2c86c2;
    border-radius: 10px;
    box-shadow: 0 0 20px #2c86c2;
}
h1{
    color: #3475B5;
    font-family: berserk;
    font-size: 50px;
    text-align: center;
    text-transform: uppercase;
}
h2{
    margin: 5% 0 5% 0;
    color: #3475B5;
    font-family: berserk;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
}
h3{
    color: #3475B5;
    font-family: berserk;
    font-size: 30px;
    text-transform: uppercase;
}
h4{
    color: #3475B5;
    font-family: berserk;
    font-size: 20px;
    text-align: center; 
}
h5{
    color: #e4870e;
    font-family: berserk;
    font-size: 50px;
    text-align: center;
    text-transform: uppercase; 
}
h6{
    color: white;
    font-family: norsebold;
    font-size: 25px;
    text-shadow: 1px 1px 3px black;
    letter-spacing: 1px;
}
p{
    color: white;
    font-family: norse;
    font-size: 20px;
    text-shadow: 1px 1px 3px black;
    letter-spacing: 1px;
}
.desc{
    margin: 0 10% 0 10%;
    padding: 10px 30px 10px 30px;
    box-shadow: 0 0 10px;
    background-color: rgba(245, 245, 245, 0.192);
}
.desc1{
    margin: 5% 10% 5% 10%;
    padding: 10px 30px 10px 30px;
    box-shadow: 0 0 10px;
    background-color: rgba(245, 245, 245, 0.043);
}
.desc2{
    margin: 5% 10% 5% 10%;
    padding: 10px 30px 10px 30px;
    box-shadow: 0 0 10px;
    height: 600px;
    background-color: rgba(245, 245, 245, 0.043);
}
.reactleft{
    margin-left: 10%;
    margin-bottom: 5%;
    padding: 30px;
    width: 30%;
    height: 510px;
    float: left;
    background-color: rgba(245, 245, 245, 0.192);
    transition: 100ms linear;
    box-shadow: 0 0 10px;
}

.reactright{

    margin-right: 10%;
    margin-bottom: 5%;
    padding: 30px;
    width: 30%;
    height: 510px;
    float: right;
    background-color: rgba(245, 245, 245, 0.192);
    transition: 100ms linear;
    box-shadow: 0 0 10px;

}
table{
    background-image: url(image/ragnarock.png);
    background-repeat: no-repeat;
    background-position: center;
}
th , td{
background-color: rgba(245, 245, 245, 0.192);
margin: 10%;
border: solid ;
box-shadow: 0 0 10px;
}
ul{
    color: white;
    font-family: norse;
    font-size: 15px;
    text-shadow: 1px 1px 3px black;
    letter-spacing: 1px;    
}
td a{
    display: block;
    text-align: center;
    font-family: norsebold;
    color: #3475B5;
    font-size: 150%;
    text-decoration: none;
    transition: 100ms linear;
    border-radius: 10px;
    box-shadow: 0 0 0;
    margin: 2% 35% 2% 35%;
    padding: 5px;
}
td a:hover{
    color: white;
    background-color: #2c86c2;
    border-radius: 10px;
    box-shadow: 0 0 20px #2c86c2;
}
.charact{
    background-image: linear-gradient(transparent , black);
}
.charleft{
margin-right: 5%;
filter: brightness(0.5);
transition: 0.4s;
}
.charleft:hover{
    filter: brightness(1);
}
.charright{
margin-left: 5%;
filter: brightness(0.5);
transition: 0.4s;
}
.charright:hover{
filter: brightness(1);
}
form{
    margin: 5%;
}
.txtf{
    position: relative;
    border-bottom: solid 2px #adadad;
    margin: 30px 0;
}
.txtf input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
    color: aliceblue;
}
.txtf label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: 0.5s;
}
.txtf span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    background: #3475B5;
    transition: 0.5s;
}
.txtf input:focus ~ label , .txtf input:valid ~ label{
top: -5px;
color: #3475B5;
}
.txtf input:focus ~ span::before , .txtf input:valid ~ span::before{
    width: 100%;
}
.radio label{
margin: 0 3% 0 0;
}
.rad{
    color: white;
    font-family: berserk;
    font-size: 20px;
    text-shadow: 1px 1px 3px black;
    letter-spacing: 1px;
}
.colrad{
    color: #3475B5;
    font-family: berserk;
    font-size: 20px;
    text-shadow: 1px 1px 3px black;
    letter-spacing: 1px;
}
.jotrad{
    color: #F9CA26;
    font-family: berserk;
    font-size: 20px;
    text-shadow: 1px 1px 3px black;
    letter-spacing: 1px;
}
.btnrow{
    padding: 5% 0 3% 0;
    display: block;
    text-align: center;
}
.btn{
    margin: 0 2% 0 2%;
    padding: 5px;
    font-family: norsebold;
    color: #3475B5;
    font-size: 30px;
    text-decoration: none;
    transition: 100ms linear;
    border-radius: 10px;
    box-shadow: 0 0 0;
    border: none;
    background: none;
}
.btn:hover{
    color: white;
    background-color: #2c86c2;
    border-radius: 10px;
    box-shadow: 0 0 20px #2c86c2;
}
.pleft{
    width: 50%;
    float: left;
    padding: 4% 0 0 2%;
}
.imgr{
    padding: 2%;
    float: right;
}